<div class="container content">

	<div class="row">

		<div class="grid_6">

			<img src="<%= asset_path 'nb-logo-large.png' %>" class="logo" alt="The Durex Naked Box" />

		</div> <!-- grid_6 -->


		<div class="grid_6 last">


			<div class="copy-block talk">

				<h1 class="tear-fade">Let's talk about safe sex</h1>

				<img src="<%= asset_path 'mr-earth.png' %>" alt="Mr. Earth" />

				<p>As the world's most trusted condom brand, Durex is committed to raising awareness of safe sex across the globe. We've created this design contest to get people of all ages talking about condoms. It's these conversations that increase awareness and decrease embarrassment, which we believe will ultimately lead to safer sex.</p>

			</div> <!-- talk -->

		</div> <!-- grid_6 -->


	</div> <!-- row -->



	<div class="row">

		<div class="grid_6 copy-block covering">

			<h1 class="tear-fade">Covering your Naked Box</h1>

			<img src="<%= asset_path 'plain-box.png' %>" alt="plain-box" width="90" height="124" />
			<p>You might not find them in your typical stationery store, but our 10 Naked Tools have the skills to transform the Durex Naked Box into something special. And if they don't take your fancy, you can <a href="#">upload your own design</a> straight to the canvas. Once you're happy, send it to the <a href="#">gallery</a> and get your friends to vote for you for the chance to win the <a href="#">Grand Prize</a>.</p>


		</div> <!-- grid_6 -->


		<div class="grid_6 last example">

			<img src="<%= asset_path 'create-section.png' %>" class="screenshot" alt="Screenshot of design area" />

		</div> <!-- grid_6 -->


	</div> <!-- row -->

</div> <!-- container -->


<div class="container content">

	<div class="row use-or-upload">

		<div class="grid_5">

			<img class="arrow" src="<%= asset_path 'arrow-large-down-right.png' %>" alt="Arrow" />

			<h3>Use our Naked Tools</h3>

			<img src="<%= asset_path 'tools-large.png' %>" alt="Naked Tools" />

		</div> <!-- grid_5 -->


		<div class="grid_2">

			<p class="big">Or...</p>

		</div> <!-- grid_2 -->



		<div class="grid_5 last">

			<h4>Upload your own design</h4>

			<img src="<%= asset_path 'upload-own.png' %>" alt="Upload your own" />

		</div> <!-- grid_5 -->


	</div> <!-- row -->



	<div class="row">

		<div class="grid_3">
			&nbsp;
		</div>



		<div class="grid_6">
			<h4 class="tear-fade">Hundreds of prizes to be won</h4>

			<img src="<%= asset_path 't-shirt.png' %>" alt="t-shirt" class="t-shirt right" />

			<p>We've thrown in hundreds of Durex prizes from T-Shirts and mobile phone covers, to Durex products. To be in with a chance of winning, simply upload a design, or vote for the ones you'd like to see hit shelves worldwide. Then all that's left to do is confirm you'd like to &quot;opt in&quot; to win. </p>
		</div>



		<div class="grid_3 last">
			&nbsp;
		</div>


	</div> <!-- row -->


	<div class="row finalists-summary">

		<div class="grid_2">
			&nbsp;
		</div> <!-- grid_2 -->


<!-- 	**** BREAK THIS DOWN FOR MOBILE -->
<div class="grid_8">

	<div class="green col">

		<div class="star">
			<p>
				<span>6</span> weekly winners
			</p>
		</div> <!-- star -->

		<p>The design that gets the most votes each week will go through to the final.</p>

		<abbr title="and">&amp;</abbr>

	</div> <!-- green -->



	<div class="yellow col">

		<div class="star">
			<p>
				<span>6</span> top rated
			</p>
		</div> <!-- star -->

		<p>The 6 designs with the most overall votes at the end of the contest will go through to the final.</p>


	</div> <!-- yellow -->


	<img src="<%= asset_path 'arrow-med-up-right.png' %>" alt="arrow-med-up-right" class="arrow" />


	<div class="pink col last">


		<div class="star">
			<p>
				Our final <span>12</span>
			</p>
		</div> <!-- star -->

		<p>As a finalist, you'll get a great bunch of prizes, including a shiny new iPad, a year's supply of condoms and a bag full of Durex goodies.</p>

	</div> <!-- pink -->




</div> <!-- grid_8 -->

<div class="grid_2">
	&nbsp;
</div> <!-- grid_2 -->


</div> <!-- row -->


<div class="row grand-prize">

	<div class="grid_2">
		&nbsp;
	</div> <!-- grid_2 -->


	<div class="grid_2 blue">

		<div class="star">

			<p>Grand Prize</p>

		</div> <!-- star -->

		<img src="<%= asset_path 'arrow-large-down-right.png' %>" alt="Arrow" class="arrow" width="117" height="98" />


	</div> <!-- grid_2 -->


	<div class="grid_6">

		<img src="<%= asset_path 'arrow-med-down.png' %>" class="arrow" alt="Arrow" />


		<h4>From our final 12, a panel of judges will choose the winning design that will cover Durex boxes worldwide. </h4>

		<p>Better still, the lucky winner will get the chance to work with Durex's Global design agency to help get their design ready for the shelves.</p>

		<p>They'll also pocket &pound;2000 and [much more] - (Prize TBC).</p>

		<p>So what are you waiting for?<br />
			Grab a tool, get creative and show the world what you've got.</p>

			<div class="prizes">
				<img src="<%= asset_path 'prizes.png' %>" alt="Prizes" />
			</div>

			<p class="button">
				<a href="#">Cover your box now <img src="<%= asset_path 'arrow-white-button.png' %>" alt="Arrow" /></a>
			</p>

		</div> <!-- grid_6 -->

		<div class="grid_2">
			&nbsp;
		</div> <!-- grid_2 -->


	</div> <!-- row grand-prize -->


</div> <!-- container content -->
