<div class="container content">

	<div class="row">

		<div class="grid_6">

			<img src="<%= asset_path 'nb-logo.png' %>" class="logo" alt="The Durex Naked Box" />


			<div class="submitted-design">

				<div class="star">
					<p>Your design</p>
				</div> <!-- star -->

				<img src="<%= asset_path 'thanks-box.png' %>" alt="Submitted design" />

			</div> <!-- submitted-design -->

		</div> <!-- grid_6 -->


		<div class="grid_6 last">

			<h1 class="tear-fade">Thanks for your entry</h1>

			<p>It's in the queue for a grand entrance to the Naked Box gallery. In the meantime, why not vote for your favourite designs in our <a href="#">not-so-naked gallery</a> and enter our prize draw simply for voting.</p> 
			<p>
				Once your design's in the <a href="#">gallery</a>, don't forget to share it on Facebook and get your friends' votes!
			</p>

			<div class="share">

				<p>Share the love</p>

				<ul>
					<li>
						<a class="facebook" href="#">Facebook</a>
					</li>

					<li>
						<a class="twitter" href="#">Twitter</a>
					</li>				

				</ul>

			</div> <!-- share -->


		</div> <!-- last -->



	</div> <!-- row -->


	<div class="row">

		<div class="grid_12">

			<p class="button">
				<a href="#">View the gallery <img src="<%= asset_path 'arrow-white-button.png' %>" alt="Arrow" /></a>
			</p>

			<ul class="gallery clearfix">




				<li class="entry clearfix">

					<div class="star"><span><span>10</span> votes</span></div>												
					<img src="<%= asset_path 'box-7.png' %>" />
					<p><span>125</span> Votes this week</p>

					<div class="vote like">
						<ul>

							<li class="vote"><a href="#">Vote</a></li>
							<li class="like"><a href="#">Like</a></li>
						</ul>
					</div>

				</li>

<!-- ////////////////////////////////////////////////////////////////// -->		

<li class="entry clearfix">

	<div class="star"><span><span class="fig-4">2418</span> votes</span></div>						
	<img src="<%= asset_path 'box-3.png' %>" />						
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>


<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span>172</span> votes</span></div>						
	<img src="<%= asset_path 'box-4.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>


<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span class="fig-5">25864</span> votes</span></div>						
	<img src="<%= asset_path 'box-8.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>

<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span>172</span> votes</span></div>						
	<img src="<%= asset_path 'box-2.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>

<!-- ////////////////////////////////////////////////////////////////// -->


<li class="entry clearfix">

	<div class="star"><span><span>98</span> votes</span></div>												
	<img src="<%= asset_path 'box-3.png' %>" />
	<p><span>1506</span> Votes this week</p>


	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>


</li>

<!-- ////////////////////////////////////////////////////////////////// -->	

</ul> <!-- .gallery -->



</div> <!-- grid_12 -->

</div> <!-- row -->


</div> <!-- container -->
