		
<div class="container content">
	
	<div class="row">
	
		<div class="grid_3">
		
			<img src="<%= asset_path 'nb-logo.png' %>" class="logo" alt="The Durex Naked Box" />
		
		</div> <!-- grid_3 -->
	
	
		<div class="grid_3 intro">
		
			<p>There are hundreds of fun prizes you could win just by voting for your favourite box designs. Durex T-shirts, mobile covers, condoms packs and much more.</p>
		
		</div> <!-- grid_3 -->

		<div class="grid_6 last">
		
			<div class="features">
			
				
				<ul>
					<li class="feature-1">Check out the talent</li>
					<li class="feature-2">Vote on what's hot</li>
					<li class="feature-3"><span>Win</span> cool prizes</li>
				</ul>
				
				<!-- 
				
				will be very hard to keep this exact style of type and lyout for all languages: http://pbrg.es/Cxs4 
				but will try best and the WIN word is importnat so can split that out with a span
				--> 
				
			
			</div> <!-- stars -->
		
		</div> <!-- last -->


	
	</div> <!-- row -->

	<div class="row winners">
		
		<div class="grid_12" id="tabs">
		
		
		
	<p class="right link"><a href="#">More about prizes</a></p>

		
		<nav class="weekly sub clearfix">
		
			<ul class="tabs">
				<li><a href="#weekly">Weekly winners</a></li>
				<li><a href="#week">Most votes this week</a></li>
				<li><a href="#overall">Most votes overall</a></li>				
			</ul>
		
		
		</nav>

		<div class="tear"></div>





		<div id="weekly">
			<h4>Here are the weekly winners so far. 6 weekly winners will go into the final 12.</h4>
		
				<ul class="gallery">
				
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-1.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	


			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-2.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-3.png' %>" />						
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-4.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-5.png' %>" />
				
				
				<!-- countdown panel -->
			
			<div class="countdown">
				<div>					
					<span>
						<strong>4</strong> Days <strong>3</strong> Hours
					</span>				
					<p>Until next weekly winner</p>
				</div>	
			</div> <!-- countdown -->
					
					
					
						
			</li>
			
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry last winner clearfix">
			
				<img src="<%= asset_path 'box-6.png' %>" />
				
		
			
			</li>

		
		</ul> <!-- .gallery -->

		
		
		</div> <!-- weekly -->


<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->

		<div id="week">
			<h4>Here are the most voted designs so far this week. Who will be this weeks winner? Get voting to help your favourite design have a chance to win.</h4>
		
				<ul class="gallery">
				
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-7.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	


			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-2.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-8.png' %>" />						
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-1.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-4.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-1.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>

		
		</ul> <!-- .gallery -->

		
		
		</div> <!-- week -->


<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->

		<div id="overall">
			<h4>Here is the leaderboard for the most voted designers so far. The top 6 of these lucky designers will go into the final 12 at the end of the contest. Get voting to help your favourite design have a chance to win.</h4>
		
				<ul class="gallery">
				
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-1.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	


			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-2.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-3.png' %>" />						
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-4.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-7.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry winner clearfix">
			
				<img src="<%= asset_path 'box-8.png' %>" />
				
				<div class="vote like">
					<ul>
						
						<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>

		
		</ul> <!-- .gallery -->

		
		
		</div> <!-- overall -->





	</div> <!-- grid_12 -->

	</div> <!-- row winners -->




</div> <!-- container content -->

<div class="container content gallery-more">
	<div class="row">

		<div class="tear"></div> <!-- tear -->

		<div class="grid_12">
	
	
			
			
			<form class="filter" class="clearfix">
			
						<h3>More from the gallery</h3>

			
				<div>
					
					<span>
					
					<p>Show me</p>
					
					<select class="entries">
						<option value="latest" selected="selected">Latest entries</option>
						<option value="#">Ornare Sit</option>
						<option value="#">Ornare Sit</option>
						<option value="#">Ornare Sit</option>
					</select>
				
					</span>
				
					<span>
				
					<p>From</p>
					
					<select class="location">
						<option value="UK" selected="selected">United Kingdom</option>
						<option value="#">Ornare Sit</option>
						<option value="#">Ornare Sit</option>
						<option value="#">Ornare Sit</option>
					</select>
				
					</span>
				
				<input type="image" class="image-submit" value="Submit" src="<%= asset_path 'search-arrow.gif' %>" />
				<input type="submit" value="Show designs" />
				
				
				</div>

				
			
			</form> <!-- filter -->


			
		</div> <!-- grid_12 -->
		
		
	</div> <!-- row -->
</div> <!-- container -->

<div class="container content">
	<div class="row">
	
	<div class="grid_12">
	
		<ul class="gallery clearfix">
				
			<li class="entry clearfix">
			
			
			<div class="cover">
				<img src="<%= asset_path 'box-cover.png' %>" />
				<p>Cover your box</p>
			</div>
			
				
		<p class="tip">Click the boxes for a closer look</p>			
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	


			<li class="entry clearfix">
			
				<div class="star"><span><span>10</span> votes</span></div>												
				<img src="<%= asset_path 'box-7.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-4">2418</span> votes</span></div>						
				<img src="<%= asset_path 'box-3.png' %>" />						
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-4.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-5">25864</span> votes</span></div>						
				<img src="<%= asset_path 'box-8.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-2.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>



<li class="entry clearfix">
			
				<div class="star"><span><span>98</span> votes</span></div>												
				<img src="<%= asset_path 'box-3.png' %>" />
				<p><span>1506</span> Votes this week</p>


				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
				
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	


			<li class="entry clearfix">
			
				<div class="star"><span><span>10</span> votes</span></div>												
				<img src="<%= asset_path 'box-2.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-6">124986</span> votes</span></div>						
				<img src="<%= asset_path 'box-3.png' %>" />						
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-7.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-1.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix last">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-8.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
		
		</ul> <!-- .gallery -->
	
	
	<div class="pagination">
	
	
	
	</div> <!-- pagination -->
	
	
	
	
	</div> <!-- grid_12 -->

	</div> <!-- row -->
</div> <!-- container -->
