<div class="container content">

	<div class="row">

		<div class="grid_3">

			<img src="<%= asset_path 'nb-logo.png' %>" class="logo" alt="The Durex Naked Box" />

		</div> <!-- grid_3 -->


		<div class="grid_5 intro">

			<h1>Your country needs&nbsp;you!</h1>
			<p>There are hundreds of fun prizes you could win just by voting for your favourite box designs. Durex T-shirts, mobile covers, condoms packs and much more.</p>

		</div> <!-- grid_5 -->

		<div class="grid_4 earth last">

			<img src="<%= asset_path 'mr-earth-large.png' %>" alt="Mr. Earth" />


		</div> <!-- last -->



	</div> <!-- row -->


<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->

<div class="row">


	<div class="grid_6" id="tabs">

		<nav class="sub clearfix">

			<ul class="tabs clearfix">
				<li><a href="#on-top">Who's on top</a></li>
				<li><a href="#population">By population</a></li>
			</ul>

		</nav>


		<div class="chart-wrapper clearfix">

			<h2>See who's ruling the world</h2>

			<div id="on-top" class="clearfix chart">



				<ol>

					<!-- ////////////////////////////////////////////////////////////////// -->

					<li class="clearfix">

						<span class="bar-count">
							<span style="width:90%"> <!-- Calculate width % here -->
								<strong>9046</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country br">Brazil</span>
						</span>

					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:87%"> <!-- Calculate width % here -->
								<strong>9001</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country uk">United Kingdom</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:80%"> <!-- Calculate width % here -->
								<strong>8741</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:70%"> <!-- Calculate width % here -->
								<strong>5478</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:62%"> <!-- Calculate width % here -->
								<strong>4256</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country es">Spain</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:56%"> <!-- Calculate width % here -->
								<strong>3222</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country sa">South Africa</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:34%"> <!-- Calculate width % here -->
								<strong>1899</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country uk">United Kingdom</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:24%"> <!-- Calculate width % here -->
								<strong>1445</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:22%"> <!-- Calculate width % here -->
								<strong>1125</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:12%"> <!-- Calculate width % here -->
								<strong>897</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country jm">Jamaica</span>
						</span>
					</li>


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:12%"> <!-- Calculate width % here -->
								<strong>897</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:10%"> <!-- Calculate width % here -->
								<strong>417</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:4%"> <!-- Calculate width % here -->
								<strong>41</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country jm">Jamaica</span>
						</span>
					</li>

				</ol>


			</div> <!-- on-top -->


			<!-- ////////////////////////////////////////////////////////////////// -->
			<!-- ////////////////////////////////////////////////////////////////// -->
			<!-- ////////////////////////////////////////////////////////////////// -->



			<div id="population" class="clearfix chart">


				<ol>

					<!-- ////////////////////////////////////////////////////////////////// -->

					<li class="clearfix">

						<span class="bar-count">
							<span style="width:90%"> <!-- Calculate width % here -->
								<strong>9046</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country br">Brazil</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:87%"> <!-- Calculate width % here -->
								<strong>9001</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country uk">United Kingdom</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:80%"> <!-- Calculate width % here -->
								<strong>8741</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:70%"> <!-- Calculate width % here -->
								<strong>5478</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:62%"> <!-- Calculate width % here -->
								<strong>4256</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country es">Spain</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:56%"> <!-- Calculate width % here -->
								<strong>3222</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country sa">South Africa</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:34%"> <!-- Calculate width % here -->
								<strong>1899</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country uk">United Kingdom</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:24%"> <!-- Calculate width % here -->
								<strong>1445</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:22%"> <!-- Calculate width % here -->
								<strong>1125</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:12%"> <!-- Calculate width % here -->
								<strong>897</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country jm">Jamaica</span>
						</span>
					</li>


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:12%"> <!-- Calculate width % here -->
								<strong>897</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country it">Italy</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:10%"> <!-- Calculate width % here -->
								<strong>417</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country cn">China</span>
						</span>
					</li>

					<!-- ////////////////////////////////////////////////////////////////// -->


					<li class="clearfix">

						<span class="bar-count">
							<span style="width:4%"> <!-- Calculate width % here -->
								<strong>41</strong>
							</span>
						</span>
						<span class="country-wrapper">
							<span class="country jm">Jamaica</span>
						</span>
					</li>

				</ol>


			</div> <!-- by population -->


		</div> <!-- chart-wrapper -->


		<!-- ////////////////////////////////////////////////////////////////// -->
		<!-- ////////////////////////////////////////////////////////////////// -->
		<!-- ////////////////////////////////////////////////////////////////// -->



		<div class="share">

			<p>Share the love</p>

			<ul>
				<li>
					<a class="facebook" href="#">Facebook</a>
				</li>

				<li>
					<a class="twitter" href="#">Twitter</a>
				</li>				

			</ul>

		</div> <!-- share -->


	</div> <!-- grid_6 -->


	<div class="grid_6 last">


		<form action="#" method="post" class="filter clearfix">


			<p>Show me all entries from</p>

			<select name="countries">
				<option value="uk">United Kingdom</option>
				<option value="fr">France</option>
			</select>

		</form>


		<ul class="gallery clearfix">

			<li class="entry clearfix">


				<div class="cover">
					<img src="<%= asset_path 'box-cover.png' %>" />
					<p>Cover your box</p>
				</div>


				<p class="tip">Click the boxes for a closer look</p>			

			</li>

<!-- ////////////////////////////////////////////////////////////////// -->	


<li class="entry clearfix">

	<div class="star"><span><span>10</span> votes</span></div>												
	<img src="<%= asset_path 'box-7.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>

<!-- ////////////////////////////////////////////////////////////////// -->		

<li class="entry clearfix">

	<div class="star"><span><span class="fig-4">2418</span> votes</span></div>						
	<img src="<%= asset_path 'box-3.png' %>" />						
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>


<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span>172</span> votes</span></div>						
	<img src="<%= asset_path 'box-4.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>


<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span class="fig-5">25864</span> votes</span></div>						
	<img src="<%= asset_path 'box-8.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>

<!-- ////////////////////////////////////////////////////////////////// -->

<li class="entry clearfix">

	<div class="star"><span><span>172</span> votes</span></div>						
	<img src="<%= asset_path 'box-2.png' %>" />
	<p><span>125</span> Votes this week</p>

	<div class="vote like">
		<ul>

			<li class="vote"><a href="#">Vote</a></li>
			<li class="like"><a href="#">Like</a></li>
		</ul>
	</div>

</li>




</ul> <!-- .gallery -->


</div> <!-- grid_6 last -->

</div> <!-- row -->




</div> <!-- container content -->
