<div class="container content">
	
	<div class="row">
	
		<div class="grid_6">
		
			<img src="<%= asset_path 'nb-logo.png' %>" class="logo" alt="The Durex Naked Box" />
		
		
		</div> <!-- grid_6 -->
	
	
		<div class="grid_6 last">
		
			<h1 class="tear-fade">Thanks for voting</h1>
					
		</div> <!-- last -->


	
	</div> <!-- row -->


<div class="row">

	<div class="grid_6 voted">
		
		<div>
			<img src="<%= asset_path 'thanks-box.png' %>" alt="Voted design" />
	
				<ul>
					<li><span>264</span> Votes this week</li>
					<li class="like"><img src="<%= asset_path 'like-button.png' %>" alt="Like" /></li>
					<li class="flag uk">Design ID <span>#927264</span></li>
				</ul>
				
		</div>

	</div> <!-- grid_6 -->


	<div class="grid_6 last">
		
		<p>Share this box with your friends and tell them why you have picked this design.</p>
<p>If you'd like to be in with a chance to win one of hundreds of cool prizes, please enter your email address here:</p>


		<form method="post" action="#" class="enter-comp">
		
			<label for="email">Email <span>(required)</span></label>
			<input type="email" name="email" class="required" id="email" />

			<div> <!-- To space out the check boxes -->

				<label>
					<input type="checkbox" id="terms" name="terms" class="required" value="yes" /> I accept the <a href="#">Terms and Conditions</a> <span class="req">*</span>
				</label>
				
			
				<label>
					<input type="checkbox" name="signup" id="signup" value="yes" /> Yes, I'd like to sign up for latest news, exciting contests and offers from Durex.
				</label>
	
				<label>
					<input type="checkbox" name="signup-more" id="signup-more" value="yes" /> Yes, I'd also like to receive more great offers, competitions and tips from the makers of Durex, Finish, Calgon, Air Wick and Veet.
				</label>
				
			</div>
			
			<img src="<%= asset_path 'arrow-small-down.png' %>" class="arrow" alt="Arrow" />
			
			
			<button type="submit" class="submit">Submit <img src="<%= asset_path 'arrow-white-button.png' %>" alt="Arrow" /></button>
		
		</form>
		
	</div> <!-- grid_6 -->


</div> <!-- row -->


<div class="row">
	
	<div class="grid_12">
	
	<p class="button">
		<a href="#">Back to the gallery <img src="<%= asset_path 'arrow-white-button.png' %>" alt="Arrow" /></a>
	</p>
	
		<ul class="gallery clearfix">
				
			
			
	
			<li class="entry clearfix">
			
				<div class="star"><span><span>10</span> votes</span></div>												
				<img src="<%= asset_path 'box-7.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-4">2418</span> votes</span></div>						
				<img src="<%= asset_path 'box-3.png' %>" />						
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-4.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-5">25864</span> votes</span></div>						
				<img src="<%= asset_path 'box-8.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-2.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>

			<!-- ////////////////////////////////////////////////////////////////// -->


<li class="entry clearfix">
			
				<div class="star"><span><span>98</span> votes</span></div>												
				<img src="<%= asset_path 'box-3.png' %>" />
				<p><span>1506</span> Votes this week</p>


				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
				
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	
		
		</ul> <!-- .gallery -->
	
		
	
	</div> <!-- grid_12 -->

	</div> <!-- row -->
</div> <!-- container -->
