<div class="container content">
	
	
		<div class="row">
	
		<div class="grid_6">
		
			<img src="<%= asset_path 'nb-logo.png' %>" class="logo" alt="The Durex Naked Box" />
		
		
		</div> <!-- grid_6 -->
	
	
		<div class="grid_6 last">
		
			<h1 class="tear-fade">Thanks for your vote</h1>
					
		</div> <!-- last -->


	
	</div> <!-- row -->

	
	
	<div class="row">
	
		<div class="grid_6 voted">
		
		<div>
				
			<img src="<%= asset_path 'thanks-box.png' %>" alt="Submitted design" />
		
				
				
				<ul>
					<li><span>264</span> Votes this week</li>
					<li class="like"><img src="<%= asset_path 'like-button.png' %>" alt="Like" /></li>
					<li class="flag uk">Design ID <span>#927264</span></li>
				</ul>
	
		</div>
					
		</div> <!-- grid_6 -->
	
	
		<div class="grid_6 last">
		
					
			<p>We have now counted your vote which could help this design be in for a chance to be one of our grand finalists.</p>
<p>Just so we can say thanks for voting, you are also entered into a prize draw to win some awesome goodies. We'll be in touch if you're one of our lucky winners.</p>
<p>In the meantime, why not <a href="#">cover your own</a> naked box and get your friends' votes. You scratch their back, they'll scratch yours.
			</p>

			<div class="share">
			
				<p>Share the love</p>
				
				<ul>
					<li>
						<a class="facebook" href="#">Facebook</a>
					</li>
					
					<li>
						<a class="twitter" href="#">Twitter</a>
					</li>				
					
				</ul>
			
			</div> <!-- share -->
					
					
		</div> <!-- last -->


	
	</div> <!-- row -->


<div class="row">
	
	<div class="grid_12">
	
	<p class="button">
		<a href="#">View the gallery <img src="<%= asset_path 'arrow-white-button.png' %>" alt="Arrow" /></a>
	</p>
	
		<ul class="gallery clearfix">
				
			
			
	
			<li class="entry clearfix">
			
				<div class="star"><span><span>10</span> votes</span></div>												
				<img src="<%= asset_path 'box-7.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->		
			
			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-4">2418</span> votes</span></div>						
				<img src="<%= asset_path 'box-3.png' %>" />						
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-4.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>


<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span class="fig-5">25864</span> votes</span></div>						
				<img src="<%= asset_path 'box-8.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>
			
			<!-- ////////////////////////////////////////////////////////////////// -->

			<li class="entry clearfix">
			
				<div class="star"><span><span>172</span> votes</span></div>						
				<img src="<%= asset_path 'box-2.png' %>" />
				<p><span>125</span> Votes this week</p>
				
				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
			
			</li>

			<!-- ////////////////////////////////////////////////////////////////// -->


<li class="entry clearfix">
			
				<div class="star"><span><span>98</span> votes</span></div>												
				<img src="<%= asset_path 'box-3.png' %>" />
				<p><span>1506</span> Votes this week</p>


				<div class="vote like">
					<ul>
						
						<li class="vote"><a href="#">Vote</a></li>
<li class="like"><a href="#">Like</a></li>
					</ul>
				</div>
				
			
			</li>
	
<!-- ////////////////////////////////////////////////////////////////// -->	
		
		</ul> <!-- .gallery -->
	
		
	
	</div> <!-- grid_12 -->

	</div> <!-- row -->


</div> <!-- container -->
